<!DOCTYPE html>
<html lang="ko">
<head>
    {% load static %}
    <link rel="stylesheet" href="{% static "admin/css/base.css" %}" />
    <title>{% block title %}simple web{% endblock %}</title>
</head>

<body>
  <div id="sidebar">
        {% block sidebar %}
        <h1><strong>간단한 메모 웹사이트</strong></h1>
        <a href="/simp_web/page"><h2>Home</h2></a>
        {% endblock %}
        <br>
    </div>

  <ul>
<article>
  # 글 입력하는 폼 생성
  <div class="container">
    <form method="POST">
        <h2>메모 작성</h2>
          <div>
            <label for="title">제목</label>
            <input type="text" name="title" id="title" placeholder="제목을 입력해 주세요">
          </div>

          <div>
            <label for="content">내용</label>
            <textarea rows="5" name="content" id="content" placeholder="내용을 입력해 주세요" ></textarea>
          </div>

         <div >
           <button type="button" id="btnSave">저장</button>
         </div>
    </form>
 </article>
</body>
</html>